body
{
    background-color: #C1DBE3;
    color: #373737;
}

.list-column
{
    word-wrap: break-word !important; /* Allows long text to wrap */
    overflow-wrap: break-word !important; /* Ensures long words break to fit */
    white-space: normal !important;
}

.list-container
{
    background-color: #F6FEAA;
    box-shadow: 10px 10px;
    border: solid #FCE694;
}

.checkBox input
{
    transform: scale(1.5);
    margin-right: 40px;
}